*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.678);
}

.container {
  padding: 10px;
  margin: 10px;
}

#output {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 25px;
  align-items: baseline;
  width: 1200px;
  font-size: 25px;
  font-family: 'Righteous', cursive;
  background: rgb(180, 180, 184);
  border: 5px outset gray;
}

.label {
  width: 295px;
}

.label p {
  text-align: center;
}

div p#output__which {
  
}

div p#output__code {
  
}

div p#output__key {
  
}

div p#output__location {
  
}


.key {
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 2px outset gray;
}

.key:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.key:active {
  background-color: white;
  border: 2px inset gray;
}

.keyboard {
  margin: 0 auto;
  padding: 20px 10px;
  border: 5px outset gray;
  width: 1200px;
  background-color: silver;
  display: grid;
  grid-template-columns: repeat(23, 50px);
  grid-template-rows: repeat(6, 40px);
  grid-template-areas: 
  "Escape ... F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12 .... PrintScreen ScrollLock PauseBreak ... ... ... ... ..."
  "Backquote Digit1 Digit2 Digit3 Digit4 Digit5 Digit6 Digit7 Digit8 Digit9 Digit0 Minus Equal Backspace ... Insert Home PageUp ... NumLock NumpadDivide NumpadMultiply NumpadSubtract "
  "Tab KeyQ KeyW KeyE KeyR KeyT KeyY KeyU KeyI KeyO KeyP BracketLeft BracketRight Backslash ... Delete End PageDown ... Numpad7 Numpad8 Numpad9 NumpadAdd"
  "CapsLock KeyA KeyS KeyD KeyF KeyG KeyH KeyJ KeyK KeyL Semicolon Quote Enter Enter ... ... ... ... ... Numpad4 Numpad5 Numpad6 NumpadAdd"
  "ShiftLeft ShiftLeft KeyZ KeyX KeyC KeyV KeyB KeyN KeyM Comma Period Slash ShiftRight ShiftRight ... ... ArrowUp ... ... Numpad1 Numpad2 Numpad3 NumpadEnter"
  "ControlLeft OSLeft AltLeft Space Space Space Space Space Space Space AltRight OSRight ContextMenu ControlRight ... ArrowLeft ArrowDown ArrowRight ... Numpad0 Numpad0 NumpadDecimal NumpadEnter"
  ;
  grid-gap: 1px;
  border-radius: 5px;
  font-family: 'Exo 2', sans-serif;
}

/* Key Grid Areas */

#Backspace {
  grid-area: Backspace;
}

#Tab {
  grid-area: Tab;
}

#Enter {
  grid-area: Enter;
}

#NumpadEnter {
  grid-area: NumpadEnter;
}

#ShiftLeft {
    grid-area: ShiftLeft;
  }

#ShiftRight {
  grid-area: ShiftRight;
}

#ControlLeft {
  grid-area: ControlLeft;
}

#ControlRight {
    grid-area: ControlRight;
  }

#AltLeft {
  grid-area: AltLeft;
}

#AltRight {
  grid-area: AltRight;
}

#PauseBreak {
  grid-area: PauseBreak;
}

#CapsLock {
  grid-area: CapsLock;
}

#Escape {
  grid-area: Escape;
}

#Space {
  grid-area: Space;
}

#PageUp {
  grid-area: PageUp;
}

#PageDown {
  grid-area: PageDown;
}

#End {
  grid-area: End;
}

#Home {
  grid-area: Home;
}

#ArrowLeft {
  grid-area: ArrowLeft;
}

#ArrowRight {
  grid-area: ArrowRight;
}

#ArrowUp {
  grid-area: ArrowUp;
}

#ArrowDown {
  grid-area: ArrowDown;
}

#PrintScreen {
  grid-area: PrintScreen;
}

#Insert {
  grid-area: Insert;
}

#Delete {
  grid-area: Delete;
}

#Digit0 {
  grid-area: Digit0;
}

#Digit1 {
  grid-area: Digit1;
}

#Digit2 {
  grid-area: Digit2;
}

#Digit3 {
  grid-area: Digit3;
}

#Digit4 {
  grid-area: Digit4;
}

#Digit5 {
  grid-area: Digit5;
}

#Digit6 {
  grid-area: Digit6;
}

#Digit7 {
  grid-area: Digit7;
}

#Digit8 {
  grid-area: Digit8;
}

#Digit9 {
  grid-area: Digit9;
}

#KeyA {
  grid-area: KeyA;
}

#KeyB {
  grid-area: KeyB;
}

#KeyC {
  grid-area: KeyC;
}

#KeyD {
  grid-area: KeyD;
}

#KeyE {
  grid-area: KeyE;
}

#KeyF {
  grid-area: KeyF;
}

#KeyG {
  grid-area: KeyG;
}

#KeyH {
  grid-area: KeyH;
}

#KeyI {
  grid-area: KeyI;
}

#KeyJ {
  grid-area: KeyJ;
}

#KeyK {
  grid-area: KeyK;
}

#KeyL {
  grid-area: KeyL;
}

#KeyM {
  grid-area: KeyM;
}

#KeyN {
  grid-area: KeyN;
}

#KeyO {
  grid-area: KeyO;
}

#KeyP {
  grid-area: KeyP;
}

#KeyQ {
  grid-area: KeyQ;
}

#KeyR {
  grid-area: KeyR;
}

#KeyS {
  grid-area: KeyS;
}

#KeyT {
  grid-area: KeyT;
}

#KeyU {
  grid-area: KeyU;
}

#KeyV {
  grid-area: KeyV;
}

#KeyW {
  grid-area: KeyW;
}

#KeyX {
  grid-area: KeyX;
}

#KeyY {
  grid-area: KeyY;
}

#KeyZ {
  grid-area: KeyZ;
}

#OSLeft {
  grid-area: OSLeft;
}

#OSRight {
  grid-area: OSRight;
}

#ContextMenu {
  grid-area: ContextMenu;
}

#Numpad0 {
  grid-area: Numpad0;
}

#Numpad1 {
  grid-area: Numpad1;
}

#Numpad2 {
  grid-area: Numpad2;
}

#Numpad3 {
  grid-area: Numpad3;
}

#Numpad4 {
  grid-area: Numpad4;
}

#Numpad5 {
  grid-area: Numpad5;
}

#Numpad6 {
  grid-area: Numpad6;
}

#Numpad7 {
  grid-area: Numpad7;
}

#Numpad8 {
  grid-area: Numpad8;
}

#Numpad9 {
  grid-area: Numpad9;
}

#NumpadMultiply {
  grid-area: NumpadMultiply;
}

#NumpadAdd {
  grid-area: NumpadAdd;
}

#NumpadSubtract {
  grid-area: NumpadSubtract;
}

#NumpadDecimal {
  grid-area: NumpadDecimal;
}

#NumpadDivide {
  grid-area: NumpadDivide;
}

#F1 {
  grid-area: F1;
}

#F2 {
  grid-area: F2;
}

#F3 {
  grid-area: F3;
}

#F4 {
  grid-area: F4;
}

#F5 {
  grid-area: F5;
}

#F6 {
  grid-area: F6;
}

#F7 {
  grid-area: F7;
}

#F8 {
  grid-area: F8;
}

#F9 {
  grid-area: F9;
}

#F10 {
  grid-area: F10;
}

#F11 {
  grid-area: F11;
}

#F12 {
  grid-area: F12;
}

#NumLock {
  grid-area: NumLock;
}

#ScrollLock {
  grid-area: ScrollLock;
}

#Semicolon {
  grid-area: Semicolon;
}

#Equal {
  grid-area: Equal;
}

#Comma {
  grid-area: Comma;
}

#Minus {
  grid-area: Minus;
}

#Period {
  grid-area: Period;
}

#Slash {
  grid-area: Slash;
}

#Backquote {
  grid-area: Backquote;
}

#BracketLeft {
  grid-area: BracketLeft;
}

#Backslash {
  grid-area: Backslash;
}

#BracketRight {
  grid-area: BracketRight;
}

#Quote {
  grid-area: Quote;
}


.col-2 {
  grid-column: 7 / span 2;
  grid-row: 3 / span 1;
}

.col-3 {
  grid-column: 7 / span 3;
  grid-row: 3 / span 1;
}
